In [55]:
import pandas as pd

liv_popul = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권-생활인구).csv', encoding='euc-kr')
work_popul = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권-직장인구).csv', encoding='euc-kr')
sales = pd.read_csv('서울시우리마을가게상권분석서비스(상권-추정매출)_2020.csv', encoding='euc-kr')

생활 인구 데이터와 직장 인구 데이터의 컬럼이 달라 전처리 과정을 통해 일치시킴

In [56]:
liv_popul.columns
# 컬럼 확인

Index(['기준 년코드', '기준_분기_코드', '상권_구분_코드', ' 상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '총_생활인구_수', '남성_생활인구_수', '여성_생활인구_수', '연령대_10_생활인구_수',
       ...
       '여성연령대_60_이상_토요일시간대_3_생활인구_수', '여성연령대_60_이상_토요일시간대_4_생활인구_수',
       '여성연령대_60_이상_토요일시간대_5_생활인구_수', '여성연령대_60_이상_토요일시간대_6_생활인구_수',
       '여성연령대_60_이상_일요일시간대_1_생활인구_수', '여성연령대_60_이상_일요일시간대_2_생활인구_수',
       '여성연령대_60_이상_일요일시간대_3_생활인구_수', '여성연령대_60_이상_일요일시간대_4_생활인구_수',
       '여성연령대_60_이상_일요일시간대_5_생활인구_수', '여성연령대_60_이상_일요일시간대_6_생활인구_수'],
      dtype='object', length=532)

In [57]:
liv_popul.iloc[[0],15:21].sum(axis=1)

0    95914
dtype: int64

In [58]:
liv_popul.loc[[0],'총_생활인구_수']
# 시간대 별로 인구가 나뉘어 있고 시간대 별 인구를 합하면 전체 인구가 나옴을  확인

0    95914
Name: 총_생활인구_수, dtype: int64

In [59]:
liv_popul.iloc[[0],21:28].sum(axis=1)
# 요일 별로도 모두 나누어져있음을 확인

0    95914
dtype: int64

성별, 연령대 분류로 요일 시간대를 통합

In [60]:
#남성
for i in range(1,7):
    liv_popul['남성 연령대 ' + str(i*10)] = liv_popul.iloc[:,42*i-14:42*i+28].sum(axis=1)
liv_popul

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수,남성 연령대 10,남성 연령대 20,남성 연령대 30,남성 연령대 40,남성 연령대 50,남성 연령대 60
0,2021,2,U,관광특구,1001496,강남 마이스 관광특구,95914,47931,47982,5297,...,126,128,110,39,2180,7954,14172,12517,6681,4434
1,2021,2,U,관광특구,1001495,잠실 관광특구,2998695,1453421,1545274,267180,...,5098,5429,6653,3730,130202,292896,361785,265580,198025,204949
2,2021,2,U,관광특구,1001494,종로?청계 관광특구,3889871,2120612,1769259,112828,...,7633,7448,6960,4103,52662,297979,419158,444421,409052,497340
3,2021,2,U,관광특구,1001493,동대문패션타운 관광특구,3164130,1516902,1647229,121539,...,4856,4670,5446,4786,61446,266886,415567,322685,221989,228319
4,2021,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3714818,1902360,1812458,96774,...,5489,5123,3500,1260,41012,257747,498990,506428,339775,258400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44763,2014,1,A,골목상권,1000005,백석동길,81885,41317,40567,5421,...,79,71,53,7,2149,9450,7501,9420,8207,4541
44764,2014,1,A,골목상권,1000004,명륜길,95160,51702,43460,6185,...,0,0,0,0,3587,20754,10591,8330,6717,1685
44765,2014,1,A,골목상권,1000003,돈화문로11가길,97007,60604,36403,666,...,37,54,26,2,204,5764,14958,17020,13553,9091
44766,2014,1,A,골목상권,1000002,난계로27길,189584,115933,73649,2531,...,167,229,133,10,1365,11698,27496,28910,28958,17503
44767,2014,1,A,골목상권,1000001,계동길,147154,85726,61430,3250,...,20,26,11,0,1455,10142,27309,25866,16176,4752

In [61]:
#여성
for i in range(1,7):
    liv_popul['여성 연령대 ' + str(i*10)] = liv_popul.iloc[:,42*i+238:42*i+280].sum(axis=1)
    print(i)
liv_popul

1
2
3
4
5
6

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,남성 연령대 30,남성 연령대 40,남성 연령대 50,남성 연령대 60,여성 연령대 10,여성 연령대 20,여성 연령대 30,여성 연령대 40,여성 연령대 50,여성 연령대 60
0,2021,2,U,관광특구,1001496,강남 마이스 관광특구,95914,47931,47982,5297,...,14172,12517,6681,4434,3116,12733,13753,8548,4891,4942
1,2021,2,U,관광특구,1001495,잠실 관광특구,2998695,1453421,1545274,267180,...,361785,265580,198025,204949,136981,387317,362351,221424,183728,253471
2,2021,2,U,관광특구,1001494,종로?청계 관광특구,3889871,2120612,1769259,112828,...,419158,444421,409052,497340,60168,349135,319571,294796,319725,425881
3,2021,2,U,관광특구,1001493,동대문패션타운 관광특구,3164130,1516902,1647229,121539,...,415567,322685,221989,228319,60086,298850,403574,320448,256609,307673
4,2021,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3714818,1902360,1812458,96774,...,498990,506428,339775,258400,55754,395799,467465,345190,255602,292645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44763,2014,1,A,골목상권,1000005,백석동길,81885,41317,40567,5421,...,7501,9420,8207,4541,3257,10118,7105,8962,7312,3772
44764,2014,1,A,골목상권,1000004,명륜길,95160,51702,43460,6185,...,10591,8330,6717,1685,2590,16406,8371,8246,6797,1003
44765,2014,1,A,골목상권,1000003,돈화문로11가길,97007,60604,36403,666,...,14958,17020,13553,9091,446,6351,8706,8488,8310,4098
44766,2014,1,A,골목상권,1000002,난계로27길,189584,115933,73649,2531,...,27496,28910,28958,17503,1163,12186,18179,17102,16661,8353
44767,2014,1,A,골목상권,1000001,계동길,147154,85726,61430,3250,...,27309,25866,16176,4752,1764,13757,17424,15179,11030,2245

In [62]:
liv_popul

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,남성 연령대 30,남성 연령대 40,남성 연령대 50,남성 연령대 60,여성 연령대 10,여성 연령대 20,여성 연령대 30,여성 연령대 40,여성 연령대 50,여성 연령대 60
0,2021,2,U,관광특구,1001496,강남 마이스 관광특구,95914,47931,47982,5297,...,14172,12517,6681,4434,3116,12733,13753,8548,4891,4942
1,2021,2,U,관광특구,1001495,잠실 관광특구,2998695,1453421,1545274,267180,...,361785,265580,198025,204949,136981,387317,362351,221424,183728,253471
2,2021,2,U,관광특구,1001494,종로?청계 관광특구,3889871,2120612,1769259,112828,...,419158,444421,409052,497340,60168,349135,319571,294796,319725,425881
3,2021,2,U,관광특구,1001493,동대문패션타운 관광특구,3164130,1516902,1647229,121539,...,415567,322685,221989,228319,60086,298850,403574,320448,256609,307673
4,2021,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3714818,1902360,1812458,96774,...,498990,506428,339775,258400,55754,395799,467465,345190,255602,292645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44763,2014,1,A,골목상권,1000005,백석동길,81885,41317,40567,5421,...,7501,9420,8207,4541,3257,10118,7105,8962,7312,3772
44764,2014,1,A,골목상권,1000004,명륜길,95160,51702,43460,6185,...,10591,8330,6717,1685,2590,16406,8371,8246,6797,1003
44765,2014,1,A,골목상권,1000003,돈화문로11가길,97007,60604,36403,666,...,14958,17020,13553,9091,446,6351,8706,8488,8310,4098
44766,2014,1,A,골목상권,1000002,난계로27길,189584,115933,73649,2531,...,27496,28910,28958,17503,1163,12186,18179,17102,16661,8353
44767,2014,1,A,골목상권,1000001,계동길,147154,85726,61430,3250,...,27309,25866,16176,4752,1764,13757,17424,15179,11030,2245

In [64]:
liv_popul = liv_popul.drop(liv_popul.columns[21:532], axis=1)
liv_popul

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,남성 연령대 30,남성 연령대 40,남성 연령대 50,남성 연령대 60,여성 연령대 10,여성 연령대 20,여성 연령대 30,여성 연령대 40,여성 연령대 50,여성 연령대 60
0,2021,2,U,관광특구,1001496,강남 마이스 관광특구,95914,47931,47982,5297,...,14172,12517,6681,4434,3116,12733,13753,8548,4891,4942
1,2021,2,U,관광특구,1001495,잠실 관광특구,2998695,1453421,1545274,267180,...,361785,265580,198025,204949,136981,387317,362351,221424,183728,253471
2,2021,2,U,관광특구,1001494,종로?청계 관광특구,3889871,2120612,1769259,112828,...,419158,444421,409052,497340,60168,349135,319571,294796,319725,425881
3,2021,2,U,관광특구,1001493,동대문패션타운 관광특구,3164130,1516902,1647229,121539,...,415567,322685,221989,228319,60086,298850,403574,320448,256609,307673
4,2021,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3714818,1902360,1812458,96774,...,498990,506428,339775,258400,55754,395799,467465,345190,255602,292645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44763,2014,1,A,골목상권,1000005,백석동길,81885,41317,40567,5421,...,7501,9420,8207,4541,3257,10118,7105,8962,7312,3772
44764,2014,1,A,골목상권,1000004,명륜길,95160,51702,43460,6185,...,10591,8330,6717,1685,2590,16406,8371,8246,6797,1003
44765,2014,1,A,골목상권,1000003,돈화문로11가길,97007,60604,36403,666,...,14958,17020,13553,9091,446,6351,8706,8488,8310,4098
44766,2014,1,A,골목상권,1000002,난계로27길,189584,115933,73649,2531,...,27496,28910,28958,17503,1163,12186,18179,17102,16661,8353
44767,2014,1,A,골목상권,1000001,계동길,147154,85726,61430,3250,...,27309,25866,16176,4752,1764,13757,17424,15179,11030,2245

In [ ]:
liv_popul.to_csv("생활인구.csv")